@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #282C33;
  --text: #FFFFFF;
}


body {
  font-family: "Fira Code", serif;
  background: var(--background);
  color: var(--text);
}
